/* .custom-navbar {
  border-bottom: 1px solid #ccc;
} */
/* In your Module.css or custom CSS file */
.custom-input {
  height: 44px; /* Adjust the width as per your requirements */
}
/* In your Module.css or custom CSS file */
.custom-input::placeholder {
  color: #c5c5c6;
}
/* In your Module.css or custom CSS file */
.custom-navbar .me-auto a {
  color: black; /* Set the font color to black */
  margin-right: 10px; /* Adjust the right margin for spacing */
  text-decoration: none; /* Remove underline from links */
}

.custom-navbar .d-flex.align-items-center .me-auto a:last-child {
  margin-right: 0; /* Remove margin-right for the last link to prevent extra spacing */
}
/* In your Module.css or custom CSS file */
.custom-navbar .d-flex.align-items-center a {
  color: black; /* Set the font color to black */
  margin-right: 10px; /* Adjust the right margin for spacing */
  text-decoration: none; /* Remove underline from links */
}
.custom-h3 {
  font-size: 24px;
}
/* CSS */
.custom-button {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border: 0;
}

.custom-button:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
/* NavBar.css */

.user-image {
  width: 30px; /* Adjust the width of the user image */
  height: auto; /* Auto height to maintain aspect ratio */
}
/* NavBar.css */

.user-button {
  display: inline-block;
  text-decoration: none;
  transition: opacity 250ms;
}

.user-button:hover {
  opacity: 0.8; /* Reduce opacity on hover for button effect */
}

.user-image {
  width: 30px; /* Adjust the width of the user image */
  height: auto; /* Auto height to maintain aspect ratio */
  margin-right: 10px; /* Add spacing between user image and icons */
}

.user-icon {
  width: 24px; /* Adjust the width of the icons */
  height: auto; /* Auto height to maintain aspect ratio */
  margin-right: 10px; /* Add spacing between icons */
}
/* Module.css */

.home-content {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.home-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.home-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.home-overlay h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.home-button {
  background-color: #742727;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  text-decoration: none;
  transition: background-color 250ms;
}

.home-button:hover {
  background-color: #8b3333;
}

.home-category-text {
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
}
/* Module.css */

.small-electronics {
  width: 100px; /* Set the desired width for the image */
  height: auto; /* Maintain aspect ratio by setting height to auto */
}
/* Module.css */

.box-container,
.text-below-content {
  text-align: left; /* Center the content horizontally */
}

.button-like {
  border: 2px solid #742727; /* Border style and color */
  background-color: #f0f0f0; /* Background color */
  padding: 10px; /* Add padding inside the box */
  display: inline-block; /* Keeps the box inline with other content */
}

.button-like img {
  display: block; /* Center the image horizontally */
  margin: 0 auto; /* Center the image horizontally */
}

.box-text {
  /* Remove any previous styling, if needed */
  text-align: center; /* Center the text horizontally */
  color: black;
}
/* Module.css */

.text-below-content {
  font-size: 20px;
}
.buy-now-text {
  color: #742727;
}
.bg-custom-1 {
  background-color: #85144b;
}

.bg-custom-2 {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
.hello {
  text-align: center;
}
.text-below {
  font-size: 20px;
  text-align: center;
}
